.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.button:hover {
  background-color: #000000d2;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
